h1{
    text-align: center;
}
nav{
    text-align: center;
}
section{
    display: grid;
    justify-content: center;
}

.gameGrid{
    justify-content: center;
    text-align: center;
    display: grid;
    background-color: rgb(93, 128, 180);
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(23, 3fr); 
    grid-template-rows: repeat(23, 3fr);;
    -ms-grid-column-align: center;
}
.snake{
    background-color: rgb(131, 82, 141);
    text-align: center;
    justify-content: center;  
    grid-column-start: 12; 
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 12; 
}